@import "../../styles.scss";

:focus{
    outline: none;
}

.top-text {
    margin: 20px 0px;
    width: 100%;
    text-align: center;

    h1  {
        font-size: 28px;
    }

    p {
        font-size: 12px;
    }
}

h1 {
    font-size: 18px;
}

small {
    font-size: smaller;
}

.shop-cards {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

    .item-card {
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
        background-color: rgb(240,240,240);
        width: 100%;
        min-height: 200px;
        max-width: 300px;
        height: fit-content;
        flex: 300px 1 1;
        transition: 0.6s ease-out all;
        transform: scale(1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 540px) { //cards go fullscreen width
            max-width: 100%;
        }

        &:hover,
        &:focus {
            box-shadow: 0px 0px 8px grey;
            transform: scale(1.005);
            transition: 0.3s;
        }

        .item-image {
            padding: 5px;
            

            img {
                width: 100%;
                height: 100%;
                max-height: 300px;
                border-radius: 10px;
                object-fit: contain;
                overflow: hidden;
            }
        }

        .item-details {
            width: 92%;
        }

        .item-buttons {
            align-self: center;
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
}

.productDetailsView {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    .item-card {
        pointer-events: all;
        width: 100%;
        max-width: 1000px;
        &:hover {
            transform: none;
        }

        .item-image {
            img {
                max-height: 600px;
            }
        }
    }
}