
<div class="wholeshoppage-div">

    <div class="top-text" style="text-align: center;">
        <h1>Loja de Produtos Oficiais</h1>
        <h1>⚠️ Ainda em construção! ⚠️</h1>
        <p>Todos estes produtos são feitos e desenhados por nós do absoluto zero, impressos com as nossas impressoras 3D e enviados até ti também por nós! 😉</p>
        <h3>Atenção! Todos estes produtos são apenas "placeholders" e não têm por enquanto finalidade nenhuma! APENAS TESTE!</h3>
    </div>
    <div *ngIf="authService.userData" style="width: 100%; display: flex; align-items: center; justify-content: center;">
        <div style="text-align: center; align-self: center; margin: 5px; width: 200px;" class="mainbutton buttonwarning" [routerLink]="[ '/editarloja']"  matRipple>
            <i class="material-icons" style="margin: 0px 5px 0px 0px;">edit</i>
            <span class="about-link">Editar Loja (Admin)</span>
        </div>
    </div>
    <div class="shop-cards">
        <div *ngFor="let product of products" [ngClass]="{'productDetailsView': currentlySelectedProductId == product.id}">
            <div class="item-card">
                <div class="item-image">
                    <img src="{{ product.productImageUrl }}" alt="">
                </div>
                <div class="item-details">
                    <nav style="text-align: center;"><h1>{{ product.name }}</h1></nav>
                    <div style="width: 100%; background-color: white; color: rgb(20,40,100); border-radius: 10px;">
                        <nav style="white-space: pre-wrap; padding: 10px;">{{ product.description }}</nav>
                    </div>
                    <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-around;">
                        <nav>{{ product.basePrice }}€ <small>/unidade</small></nav>
                        <nav *ngIf="product.stock > 0"><small>Em Stock: {{ product.stock }}</small></nav>
                        <nav *ngIf="product.stock <= 0"><small style="color: red;">ESGOTADO</small></nav>
                    </div>
                </div>
                <nav class="item-buttons">
                    <button style="margin: 0px 5px" mat-flat-button color="primary" (click)="viewProduct(product.id)" *ngIf="!currentlySelectedProductId">
                        Ver
                    </button>
                    <button style="margin: 0px 5px" mat-flat-button color="primary" (click)="closeProduct(product.id)" *ngIf="currentlySelectedProductId == product.id">
                        Fechar
                    </button>
                    <button style="margin: 0px 5px" mat-flat-button color="accent" *ngIf="product.stock > 0">
                        Comprar
                    </button>
                    <button style="margin: 0px 5px" mat-flat-button color="accent" *ngIf="product.stock <= 0" disabled>
                        Comprar
                    </button>
                    
                </nav>
            </div>
        </div>
    </div>
    
</div>