<div class="whole-homepage">
    <div class="welcometitle">
        <nav class="welcome-title-text">
            <h1>Bem-Vindo ao mundo 20Cafés!</h1>
        </nav>
        <div class="social-logos-div">
            <a href="https://bit.ly/20cafesyoutube" matRipple target="_blank" rel="noreferrer noopener"
                ><img
                    class="social-logos"
                    src="../../assets/logos/youtubelogo.png"
                    alt="youtube link"
            /></a>
            <a href="https://twitch.tv/20cafespordia" matRipple target="_blank" rel="noreferrer noopener"
                ><img
                    class="social-logos"
                    src="../../assets/logos/twitchlogo.png"
                    alt="twitch link"
            /></a>
            <a href="https://discord.gg/Sg4Ntxa" matRipple target="_blank" rel="noreferrer noopener"
                ><img
                    class="social-logos"
                    src="../../assets/logos/discordlogo.png"
                    alt="discord link"
            /></a>
            <a href="https://twitter.com/20cafes" matRipple target="_blank" rel="noreferrer noopener"
                ><img
                    class="social-logos"
                    src="../../assets/img/twitterlogo.png"
                    alt="twitter link"
            /></a>
            <a href="https://instagram.com/20cafespordia" matRipple target="_blank" rel="noreferrer noopener"
                ><img
                    class="social-logos"
                    src="../../assets/logos/instagramlogo.png"
                    alt="instagram link"
            /></a>
        </div>
        <nav class="welcome-bottom-text">
            Junta-te a nós! Mais do que um canal, uma comunidade. ☕️
        </nav>
        <small style="font-size: 10px">*Website em constante construção.</small>
    </div>

    <div style="width: 100%; text-align: center; margin-bottom: 20px">
        <div class="divider"></div>
        <h1 style="text-align: center; width: 100%">
            As últimas novidades
        </h1>
    </div>

    <!-- ############################################### -->
    <div class="news-cards">
        <div class="card card-top">
            <div class="card-text">
                Tweets 🦜
                <a
                    href="https://twitter.com/20cafes?ref_src=twsrc%5Etfw"
                    class="twitter-follow-button"
                    data-show-count="true"
                    target="_blank" rel="noreferrer noopener"
                    >Seguir @20cafes no Twitter</a
                >
            </div>
            <div class="card-img-div">
                <a
                    class="twitter-timeline"
                    data-lang="pt"
                    data-limit="1"
                    data-width="500"
                    data-theme="light"
                    data-chrome="noheader nofooter noborders transparent"
                    href="https://twitter.com/20Cafes?ref_src=twsrc%5Etfw"
                    >Twitter 20Cafés Widget - Erro :( Experimenta recarregar a página!</a
                >
                <script
                    async
                    src="https://platform.twitter.com/widgets.js"
                    charset="utf-8"
                ></script>
            </div>
        </div>
        <div class="card card-top">
            <div class="card-text">
                Vídeo Recomendado!
                <a
                    href="https://www.youtube.com/channel/UC3gM1MgRK_1WCSA9JzHP91A"
                    target="_blank" rel="noreferrer noopener"
                >
                    Visita aqui o nosso canal! 🔴</a
                >
                <!-- <button
                    mat-button
                    style="margin: -10px 10px; padding: 0px 5px"
                    id="togglePipButton"
                >
                    Ver em Popup
                </button> -->
            </div>
            <div class="card-img-div" style="height: 260px; width: 100%">
                <iframe
                    width="100%"
                    height="100%"
                    style="overflow: hidden"
                    src="https://www.youtube-nocookie.com/embed/uJZpAaMrITg"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
        <div class="card card-top">
            <div class="card-text">
                Nosso Twitch
                <a href="https://twitch.tv/20cafespordia" target="_blank" rel="noreferrer noopener">
                    Segue-nos aqui! 👾</a
                >
            </div>
            <div class="card-img-div" style="height: 400px; width: 100%">
                <iframe
                    src="https://player.twitch.tv/?channel=20cafespordia&muted=true&parent=www.20cafes.com&parent=20cafes.com&autoplay=false"
                    height="100%"
                    width="100%"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true"
                >
                    <p>
                        Oops, algo correu mal! Se calhar o teu browser não
                        suporta este widget :(
                    </p>
                </iframe>
            </div>
        </div>

        <!-- ############################################### -->

        <div style="width: 100%; text-align: center; margin-bottom: 20px">
            <div class="divider"></div>
            <h1 style="text-align: center; width: 100%">
                No que andamos metidos ultimamente
            </h1>
        </div>
        <div class="card">
            <div class="card-img-div">
                <img
                    src="../../assets/gifs/gamecafes.gif"
                    alt=""
                    class="card-img"
                />
            </div>
            <div class="card-title">
                <nav>Estamos a (tentar) fazer um jogo! 🎮🤔</nav>
            </div>
            <div class="card-text">
                Será dark-fantasy RPG gerado aleatóriamente muito focado em
                história e com bastantes diálogos e opções múltiplas que te irão
                desafiar e decidir a tua própria história! Segue-nos no Discord
                para saberes mais, além disso, podes de qualquer forma possível
                ajudar-nos a desenvolver ou dar ideias/sugestões!
            </div>
        </div>
        <div class="card">
            <div class="card-img-div">
                <a
                    href="https://www.youtube.com/playlist?list=PLYGZhuW25o1mN9Hw-wP2Y-NFDqd-ZxHk7"
                    target="_blank" rel="noreferrer noopener"
                >
                    <img
                        src="../../assets/img/technews5.jpg"
                        alt=""
                        class="card-img"
                    />
                </a>
            </div>
            <div class="card-title">
                <nav>20Cafés - Tech News Semanais ⌨️🖥💻</nav>
            </div>
            <div class="card-text">
                Não percas no nosso YouTube, todas as semanas, um resumo de tudo
                o que se passou no enorme mundo da tecnologia! Notícias, rumores
                e leaks, PCs, portáteis, setups, hardware, etc, empresas e o que
                elas andaram a tramar na semana que passou. Não percas, todas as
                quartas! (Playlist)
            </div>
        </div>
        <div class="card">
            <div class="card-img-div">
                <a
                    href="https://www.youtube.com/playlist?list=PLYGZhuW25o1mN9Hw-wP2Y-NFDqd-ZxHk7"
                    target="_blank" rel="noreferrer noopener"
                >
                    <img
                        src="../../assets/img/gamingnews5.jpg"
                        alt=""
                        class="card-img"
                    />
                </a>
            </div>
            <div class="card-title">
                <nav>20Cafés - Gaming News Semanais 👾🎮🕹</nav>
            </div>
            <div class="card-text">
                Adoras gaming? Nós também, e todas as semanas o Zé vai-te trazer
                a tua dose semanal de gaming news! O que será que a Bethesda,
                Rockstar Games, CD Projekt Red, etc andarão a tramar? Queres
                saber? Então não percas nenhum vídeo! Todos os domingos no nosso
                YouTube! (Playlist)
            </div>
        </div>
        <div class="card">
            <div class="card-img-div">
                <a
                    href="https://www.youtube.com/playlist?list=PLYGZhuW25o1mN9Hw-wP2Y-NFDqd-ZxHk7"
                    target="_blank" rel="noreferrer noopener"
                >
                    <img
                        src="../../assets/img/setupwars2.jpg"
                        alt=""
                        class="card-img"
                    />
                </a>
            </div>
            <div class="card-title">
                <nav>20Cafés - Setup Wars 🖥⌨️🖱🪑</nav>
            </div>
            <div class="card-text">
                Que a guerra comece! Os melhores setups, ou os piores, caros ou
                baratos, cheios de RGB ou com absolutamente nenhuma luz, até o
                teu próprio setup tem lugar aqui! Desde que tenhas algo que
                sirva de ecrã e mostre os nossos vídeos, envia-nos para o nosso
                Discord as fotografias e especificaçõe, queremos ver o que
                consegues fazer com o que tens! (Playlist)
            </div>
        </div>
        <div class="card">
            <div class="card-img-div">
                <img
                    src="../../assets/img/twitchprint.png"
                    alt=""
                    class="card-img"
                />
            </div>
            <div class="card-title">
                <nav>Streams/Lives do 20Cafés! ☕️🔴</nav>
            </div>
            <div class="card-text">
                Temos sempre algo agendado! E se não tivermos, dá-nos ideias!
                <br />
                Eventos, jogar com os viewers, descobrir algo novo, falar de
                notícias e leaks, e não só! Sempre que tivermos um tempinho
                disponível, estaremos pelo Twitch!
                <a href="https://twitch.tv/20cafespordia" target="_blank" rel="noreferrer noopener"
                    >Segue-nos e não percas nenhuma stream!</a
                >
            </div>
        </div>
        <div class="card">
            <div class="card-img-div">
                <img
                    src="../../assets/img/discordprint.png"
                    alt=""
                    class="card-img"
                />
            </div>
            <div class="card-title">
                <nav>A melhor comunidade PT de tech nerds e gamers! 👾</nav>
            </div>
            <div class="card-text">
                Queres te juntar? Já devias cá estar! Clica e junta-te à
                esplanada, ajuda-nos a crescer, partilha! Tens ideias/sugestões!
                Estamos sempre abertos a novas ideias! Entra e conta-nos tudo o
                que te vai na cabeça!
            </div>
        </div>
    </div>

    <!-- ############################################### -->

    <div class="divider"></div>

    <div style="width: 100%; text-align: center; margin-bottom: 20px">
        <nav><h1>Rede 20Cafés ☕️</h1></nav>
        <nav class="welcome-bottom-text" style="width: 100%">
            Junta-te à esplanada!
        </nav>
    </div>

    <div class="news-cards news-cards-social">
        <div class="card">
            <div class="card-img-div">
                <a href="https://twitter.com/20cafes" target="_blank" rel="noreferrer noopener">
                    <img
                        src="../../assets/img/twitterlogo.png"
                        alt=""
                        class="card-img-social"
                    />
                </a>
            </div>
            <div class="card-title">
                <nav>O nosso Twitter 🦜</nav>
            </div>
            <div class="card-text">
                Não percas nenhuma notícia, leak/rumor ou novidade do grupo ou
                até mesmo nenhum giveaway! É sempre no Twitter onde somos mais
                ativos!
            </div>
        </div>

        <div class="card">
            <div class="card-img-div">
                <a
                    href="https://www.youtube.com/channel/UC3gM1MgRK_1WCSA9JzHP91A"
                    target="_blank" rel="noreferrer noopener"
                >
                    <img
                        src="../../assets/img/youtubelogo.png"
                        alt=""
                        class="card-img-social"
                    />
                </a>
            </div>
            <div class="card-title">
                <nav>O nosso canal YouTube</nav>
            </div>
            <div class="card-text">Já nos segues no YouTube? Devias! Vários vídeos novos todas as semanas! Conteúdo que não vais querer perder! Vêmo-nos por lá? 😉</div>
        </div>

        <div class="card">
            <div class="card-img-div">
                <a href="https://discord.gg/Sg4Ntxa" target="_blank" rel="noreferrer noopener">
                    <img
                        src="../../assets/img/discord.png"
                        alt=""
                        class="card-img-social"
                    />
                </a>
            </div>
            <div class="card-title">
                <nav>Comunidade Discord</nav>
            </div>
            <div class="card-text">
                Estamos a unir esforços para tentar criar a melhor comunidade no Discord
                de Gaming e Tecnologia em português! Junta-te já, estamos sempre abertos a novos membros!
            </div>
        </div>

        <div class="card">
            <div class="card-img-div">
                <a
                    href="https://paypal.me/20cafes?locale.x=pt_PT"
                    target="_blank" rel="noreferrer noopener"
                >
                    <img
                        src="../../assets/img/donate.png"
                        alt=""
                        class="card-img-social"
                    />
                </a>
            </div>
            <div class="card-title">
                <nav>Paga-nos um café! ☕️ </nav>
            </div>
            <div class="card-text">
                Faz uma doação sem taxas adicionais para o nosso projeto 20Cafés!
                A doação é partilhada de igual forma por todos os membros da
                equipa 20Cafés. Escreve o teu nome e uma nota na doação, iremos
                agradecer pessoalmente! 💙
            </div>
        </div>

        <div class="card">
            <div class="card-img-div">
                <a
                    href="https://teespring.com/stores/20cafes"
                    target="_blank" rel="noreferrer noopener"
                >
                    <img
                        src="../../assets/img/merchstore3.jpg"
                        alt=""
                        class="card-img-social"
                    />
                </a>
            </div>
            <div class="card-title">
                <nav>Merch/Swag 20Cafés 🔥</nav>
            </div>
            <div class="card-text">
                Queres ter swag? Entra e descobre o que temos para ti!
                <br />
                Esta é uma forma eficaz de ajudares o projeto 20Cafés e
                ainda recebes produtos de enorme qualidade, é win-win! <br>
                ⚠️ Tudo aqui é desenhado e criado por nós! ☕️
            </div>
        </div>
    </div>
</div>
