<div class="teampageouterdiv">
    <div class="divider"></div>
    <div class="title"><h1>A Equipa 20Cafés/dia</h1></div>
    <div class="divider"></div>
    <div class="card">
        <div class="card-img-div">
            <img src="../../assets/avatars/azenyr.jpg" alt="Azenyr avatar">
        </div>
        <div class="card-text">
            <h1>Eduardo Correia | Azenyr</h1>
            <h2>Funções: </h2>
            Fundador, Criador de conteúdo, Editor de Vídeo, Streamer, Organizador, Website Developing & Maintainer, Server Maintainer, Relações Públicas <br>
            <br>
            <h2>Sobre: </h2>
            Fundador. Obcecado por tecnologia e jogos desde nascença, sempre sonhou em criar algo grande. Esse algo começou agora
            aos 24 anos, com a ideia dos 20Cafés/dia, uma comunidade aberta de tech e gaming portuguesa. Já montou vários
            PC Desktops completos e vários setups, adora minimalismo e profissionalismo. <br>
            Formado profissionalmente em FullStack Web Developing, é quem cria do absoluto zero e com as melhores tecnologias, o site oficial 20cafes.com (sim, sou eu!).
            <br> Adora RGB para puder escolher ao pormenor a melhor cor para o setup e o momento, mas odeia ter os seus leds em modo "Arco-Íris".
            <br>Viciado em café.
        </div>
    </div>
    <div class="card">
        <div class="card-img-div">
            <img src="../../assets/avatars/slynders.jpg" alt="">
        </div>
        <div class="card-text">
            <h1>André Silva | Slynders</h1>
            <h2>Funções: </h2>
            Fundador, Criador de conteúdo, Manager do Servidor Minecraft e Discord 20C, Relações Públicas<br>
            <br>
            <h2>Sobre: </h2> 
            O segundo fundador e um dos criadores iniciais do 20Cafés/dia, de momento ausente da criação de conteúdo devido a outras prioridades profissionais, 
            também sempre foi obcecado por tecnologia e gaming. Amante de Minecraft (só gosta de hardcore vanilla e sem mods!) e de League of Legends.
            <br>
            De momento é Outsystems Developer numa empresa.
            <br>Viciado em café.
        </div>
    </div>
    <div class="card">
        <div class="card-img-div">
            <img src="../../assets/avatars/henrique.jpg" alt="">
        </div>
        <div class="card-text">
            <h1>Henrique Oliveira | Sohjita</h1>
            <h2>Funções: </h2>
            Criador de conteúdo, Streamer, 2D & 3D Graphics Designer, Animator, Game Developer, Admin do Servidor Minecraft 20C <br>
            <br>
            <h2>Sobre: </h2>
            Outro grande criador de conteúdo e assets do 20Cafés/dia. Entrou mais tarde na equipa, mas entrou bem a tempo, e de momento é um dos
            recursos humanos mais valiosos da comunidade. Cria as animações 2D para ser usado pelo Editor nos vídeos todos. Cria Arte original ao seu
            próprio estilo para a nossa Merch Store (Visita! No menu no topo do ecrã, entra em "Merchandise"!). É extremamente culto no que toca
            a gaming e tecnologias relacionadas. Tem uma impressora 3D e cria/imprime os nossos pequenos mas valiosos porta-chaves (e não só) que vendemos
            aqui no site na "Loja Oficial".
            <br>Viciado em café.
        </div>
    </div>
    <div class="card">
        <div class="card-img-div">
            <img src="../../assets/img/logotipo_squared_orange.png" alt="">
        </div>
        <div class="card-text">
            <h1>Todos vocês!</h1>
            <h2>Funções: </h2>
            Serem excelentes e estarem sempre por cá para nos aturar.<br>
            <br>
            <h2>Sobre: </h2> 
            A melhor comunidade do mundo. <br>
            O 20Cafés/dia não era absolutamente nada sem a sua crescente comunidade. <br>
            Ainda não fazes parte desta comunidade incrível? Adere nos links sociais já aqui no final desta página! Principalmente ao nosso Discord! <br>
            Obrigado 💙
        </div>
    </div>
</div>
