<div class="divider"></div>
    <div class="social-logos-div">
        <a href="https://bit.ly/20cafesyoutube" matRipple target="_blank" rel="noreferrer noopener"
            ><img
                class="social-logos"
                src="../../assets/logos/youtubelogo.png"
                alt="youtube link"
        /></a>
        <a href="https://twitch.tv/20cafespordia" matRipple target="_blank" rel="noreferrer noopener"
            ><img
                class="social-logos"
                src="../../assets/logos/twitchlogo.png"
                alt="twitch link"
        /></a>
        <a href="https://discord.gg/Sg4Ntxa" matRipple target="_blank" rel="noreferrer noopener"
            ><img
                class="social-logos"
                src="../../assets/logos/discordlogo.png"
                alt="discord link"
        /></a>
        <a href="https://twitter.com/20cafes" matRipple target="_blank" rel="noreferrer noopener"
            ><img
                class="social-logos"
                src="../../assets/img/twitterlogo.png"
                alt="twitter link"
        /></a>
        <a href="https://instagram.com/20cafespordia" matRipple target="_blank" rel="noreferrer noopener"
            ><img
                class="social-logos"
                src="../../assets/logos/instagramlogo.png"
                alt="instagram link"
        /></a>
    </div>
    <div class="divider"></div>