@import "../styles.scss";

:focus{
    outline: none;
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes Dropdown {
    0% {opacity: 0;
        top: -100px;}
    100% {opacity: 1;
        top: 0px;}
}

@keyframes OpeningAnimation {
    0% {
        height: 100vh;}
    100% {
        height: 300px;}
}

.wholepage-div {
    background: rgba(0,0,0,0.05);
    width: 100vw;

}

.navbar-bgdiv {
    width: 100%;
    background-color: transparent;
    z-index: 100;
    opacity: 0; // animation start
    position: fixed;
    display: flex;
    justify-content: center;
    pointer-events: none;
    animation: 0.6s Dropdown ease-out forwards 1.5s;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: 0.5s all;

    &:hover {
        background-color: rgba(0,0,0,0.1);
        transition: 0.2s all;
    }


    .navbar-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 300px;
        transition: 0.5s all;
        pointer-events: auto;

        .navbar {
            font-weight: 400;
            font-family: "Lato";
            font-size: 100%;
            width: 100%;
            height: 60px;
            transition : all 0.2s;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
            color: rgb(0,20,30);

            a,
            a:link,
            a:visited {
                color: rgb(174, 0, 180);
            }
            

            .navbar-logo-div {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 100%;
                overflow: visible;
                background-color: rgba(255,255,255,0.7);
                transition: 0.5s all;

                &:hover {
                    background-color: white;
                    transition: 0.2s all;
                }

                &:hover > .navbar-logo {
                    transform: scale(1.3) rotate(360deg);
                    transition: 0.3s all;
                }

                .navbar-logo {
                    object-fit: contain;
                    transform: scale(1) rotate(-360deg);
                    height: 50px;
                    transition: 0.8s;
                }

            }

            .hamb-menu-button {

                width: 80px;
                height: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0px 10px 10px 0px;
                background-color: rgba(255,255,255,0.7);
                transition: 0.3s all;

                &:hover {
                    background-color: rgba(255,255,255,1); 
                    transition: 0.1s all;
                }

                @media only screen and (min-width: 700px) { // disable hamburger button when bigger than this
                    display: none;
                }
            }

            .hamburger-menu-div {
                position: absolute;
                top: -100vh;
                left: 0;
                width: 100vw;
                height: 100vh;
                z-index: 100;
                background-color: rgba(0,0,0,0.7);
                backdrop-filter: blur(12px);
                -webkit-backdrop-filter: blur(12px);
                transition: 0.2s all ease-out;
                
                @media only screen and (min-width: 700px) { // disable hamburger when bigger than this
                    display: none;
                }

                .hamb-links-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;

                }

                a,
                a:link,
                a:hover {
                    box-shadow: none;
                }
                
                .closebtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    color: black;
                    background-color: rgba(255,255,255,0.6);
                    border-radius: 4px;
                    top: 5px;
                    right: 5px;
                    width: 50px;
                    height: 50px;
                    z-index: 500;
                    cursor: pointer;
                    transition: 0.3s all;

                    &:hover,
                    &:focus {
                        border-radius: 10px;
                        background-color: rgba(255,255,255,1);
                    }

                    &:active {
                        box-shadow: inset -2px -2px 3px lightgrey, inset 2px 2px 3px grey;
                        transition: 0.05s all;
                    }
                }

                .link-hamb {
                    cursor: pointer;
                    display: flex;
                    width: 90%;
                    height: 50px;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    background-color: rgba(255,255,255,0.9);
                    margin: 2px 0px;
                    border-radius: 5px;
                    transition: 0.5s all;

                    &:hover,
                    &:focus {
                        background-color: rgba(255,255,255,1);
                        border-radius: 30px;
                        transition: 0.2s all ease-out;
                    }

                    &:active {
                        box-shadow: inset -2px -2px 3px lightgrey, inset 2px 2px 3px grey;
                    }
                }

                .link-loja {
                    color: rgb(168, 115, 0);
                }
            }

            .menu-buttons {
                @media only screen and (max-width: 700px) { // disable horizontal menu to enable hamburger
                    display: none;
                }

                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .link {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    width: 15%;
                    max-width: 200px;
                    min-width: 30px;
                    height: 100%;
                    border-radius: 0px;
                    cursor: pointer;
                    transition: 0.5s all;
                    margin: 0px 1px 0px 1px;

                    @media only screen and (max-width: 1000px) {
                        span {
                            display: none;
                        }
                    }

                    &:hover {
                        background-color: rgba(255,255,255,0.7);
                        border-radius: 20px;
                        transition: 0.1s all;
                    }

                    &:active {
                        box-shadow: inset -1px -1px 2px lightgrey, inset 1px 1px 2px grey;
                    }
                }

                .link-loja {
                    border-radius: 0px;
                    background-color: rgba(255, 255, 255, 0.7);
                    margin: 0px;
                    max-width: 140px;

                    &:hover {
                        background-color: rgba(255, 240, 109,1);
                        border-radius: 0px;
                        color: black;
                    }
                }

                .link-merch {
                    background-color: rgba(255, 255, 255, 0.7);
                    border-radius: 0px 10px 10px 0px;
                    margin-left: 0px;
                    max-width: 140px;

                    &:hover {
                        background-color: rgba(162, 0, 255, 0.6);
                        border-radius: 0px 15px 15px 0px;
                        color: white;
                    }
                }

                .active-link {
                    color: black;
                    background-color: rgba(255,255,255,0.6);
                }
                
                a:hover,
                a:active {
                    box-shadow: none;
                    border: none;
                    background-color: transparent;
                }
            }
        }
        .link-alignedright {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            border-radius: 10px 0px 0px 10px;
            background-color: rgba(255, 255, 255, 0.6);
            right: 0;
            width: 80px;
            transition: 0.1s all;
            overflow: hidden;

            .chat-link {
                display: none;
                opacity: 0;
                transition: 0.1s opacity 0s;
            }

            &:active {
                box-shadow: inset -1px -1px 2px lightgrey, inset 1px 1px 2px grey;
            }

            &:hover {
                width: 200px;

                .chat-link {
                    display: block;
                    opacity: 1;
                    transition: 0.2s opacity 0.3s;
                }
            }

        }
    }

    .navbar-div-scrolledcolor {
        background-color: rgba(100,100,100,0.6);
        transition: 0.5s all;

        .navbar {
            height: 40px;

            .menu-buttons {
                color: white;

                .link:hover {
                    background-color: rgba(100,100,100,0.4);
                }

                .link-loja {
                    color: black;

                    &:hover {
                        background-color: rgba(255, 240, 109,0.8);
                    }
                }

                .link-merch:hover {
                    background-color: rgba(255, 255, 255, 0.8);
                }

                .active-link:hover {
                    background-color: rgba(255,255,255,0.8);
                }
            }

            .navbar-logo-div {
                .navbar-logo {
                    height: 35px;

                    &:hover {
                        height: 40px;
                    }
                }
            }

        }
    }
}

.pagelogo {
    width: 100%;
    height: 100vh;
    animation: 0.5s OpeningAnimation ease-out 1.2s forwards;

    .background-img-div {
        width: 100%;
        height: 100%;

        .bg-image {
            width: 100%;
            height: 100%;
            position: fixed;
            background-size: cover;
            object-fit: cover;
            z-index: -1000;
        }

        .logo {
            position: relative;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            animation: 1s fadein forwards 0.2s;

            .logo-image {
                margin-top: 60px;
                width: 90%;
                max-width: 400px;
                transition: 0.4s all;

                &:hover {
                    transform: scale(1.05);
                    transition: 0.2s all;
                }
            }
        }
        
    }

}

.pagecontent-outerdiv {

    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .page-content {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        min-height: 200px;
        background: white;
        border-radius: 20px;

    }
    
    .footer {
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        width: 100%;
        height: 50px;

        a {
            color: rgb(199, 0, 0);
        }
    }

}