<div class="top-text">
    <h1>EDITAR LOJA - ADMIN</h1>
    <p>
        Todas as alterações feitas aqui irão ser guardadas imediatamente e
        visíveis ao público!
    </p>
</div>
<div class="editproduct-card">
    <mat-expansion-panel hideToggle style="border-radius: 30px; width: 100%; max-width: 600px;">
        <mat-expansion-panel-header>
            <mat-panel-title> Criar ou editar um Produto </mat-panel-title>
            <mat-panel-description>
                Para editar, seleciona o produto a editar (clica aqui para abrir
                e fechar este menu)
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="divider"></div>
                <p style="font-size: 18px; text-align: center;">Imagem do Produto</p> <br>
                <div style="width: 100%; display: flex; align-items: center; justify-content: center;">
                    <img src="{{ imageUrl }}" style="width: 300px; height: 100%;" alt="" />
                </div>
                <br>
                Escolhe uma nova imagem:
                <input
                    #productImage
                    class="form-input"
                    id="productImage"
                    name="productImage"
                    (change)="selectedFileChanged($event)"
                    autocomplete="off"
                    type="file"
                    accept="image/*"
                />
                <div>
                    <p *ngIf="currentlySelectedImagePreview" style="color: red;">Escolheste uma nova imagem:</p>
                    <img [src]="currentlySelectedImagePreview" *ngIf="currentlySelectedImagePreview" style="width: 300px; height: 100%;" alt="Pré-Visualização" />
                    <p style="font-size: 10px;">(Aguarda, a pré-visualização pode demorar a aparecer. Se estiveres a editar, não precisas de selecionar uma nova imagem.)</p>
                </div>
                <div class="divider"></div>
                <p style="font-size: 18px; text-align: center;">Detalhes do produto</p>
                <mat-form-field class="form-input">
                    <input
                        matInput
                        placeholder="Nome"
                        formControlName="name"
                        type="text"
                        min=4
                        max=30
                        required
                    />
                </mat-form-field>
                <mat-form-field class="form-input">
                    <textarea
                        matInput
                        rows="5"
                        cols="100"
                        placeholder="Descrição"
                        formControlName="description"
                        type="text"
                        min=5
                        max=1000
                        required
                    ></textarea>
                </mat-form-field>
                <mat-form-field class="form-input">
                    <span matPrefix>€ </span>
                    <input
                        matInput
                        placeholder="Preço Base (Ex: '12' ou '12,50')"
                        formControlName="basePrice"
                        type="number"
                        required
                    />
                </mat-form-field>
                <mat-form-field class="form-input">
                    <input
                        matInput
                        placeholder="Unidades Disponíveis"
                        formControlName="stock"
                        type="number"
                        required
                    />
                    <nav matSuffix>unidades</nav>
                </mat-form-field>
                <mat-form-field class="form-input">
                    <input
                        matInput
                        formControlName="id"
                        placeholder="ID do produto (gerado automaticamente)"
                        type="text"
                    />
                </mat-form-field>
                <button
                    *ngIf="!editingProduct"
                    class="form-button"
                    mat-flat-button
                    color="primary"
                    type="submit"
                >
                    Criar Produto
                </button>
                <button
                    *ngIf="editingProduct"
                    type="button"
                    class="form-button"
                    (click)="updateProduct()"
                    mat-flat-button
                    color="accent"
                >
                    Editar Produto
                </button>
                <button
                    *ngIf="editingProduct"
                    type="button"
                    class="form-button"
                    (click)="cancelProductEdit()"
                    mat-flat-button
                    color="primary"
                >
                    Cancelar
                </button>
            </form>
        </div>
    </mat-expansion-panel>
</div>

<div class="shop-cards">
    <div *ngFor="let product of products">
        <div class="item-card">
            <div class="item-image">
                <img src="{{ product.productImageUrl }}" alt="" />
            </div>
            <div class="item-details">
                <nav>Nome: {{ product.name }}</nav>
                <nav style="display: block; white-space:pre-wrap;">Descrição: {{ product.description }}</nav>
                <nav>Preço: {{ product.basePrice }}€ /unidade</nav>
                <nav>Quantidade Disponível: {{ product.stock }}</nav>
                <div *ngIf="user.email === '20cafesaodia@gmail.com'">
                    <br />
                    ADMIN STATS: <br />
                    <nav>ID: {{ product.id }}</nav>
                    <nav>Criado em: {{ product.createdAt }}</nav>
                    <nav>Última modificação: {{ product.updatedAt }}</nav>
                </div>
            </div>
            <div
                class="item-buttons"
                style="
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                "
            >
                <button mat-flat-button color="primary" style="margin: 3px">
                    Ver
                </button>
                <button mat-flat-button color="accent" style="margin: 3px">
                    Comprar
                </button>
                <button
                    *ngIf="user.email === '20cafesaodia@gmail.com'"
                    mat-flat-button
                    (click)="updateForm(product)"
                    style="margin: 3px"
                >
                    Editar
                </button>
                <!-- *ngIf="authService.userData as user; then user.email === '20cafesaodia@gmail.com'" -->
                <button
                    mat-flat-button
                    color="warn"
                    [matMenuTriggerFor]="menu"
                    *ngIf="user.email === '20cafesaodia@gmail.com'"
                    style="margin: 3px"
                >
                    Apagar
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Cancelar</button>
                    <button
                        mat-menu-item
                        style="color: red"
                        (click)="
                            deleteProduct(
                                product.id,
                                product.name,
                                product.productImagePath
                            )
                        "
                    >
                        APAGAR
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>
