<div class="projectspageouterdiv">
    <div class="divider"></div>
    <div class="title"><h1>Os Principais Projetos 20Cafés</h1></div>
    <div class="divider"></div>
    <div class="card">
        <a href="https://bit.ly/20cafesyoutube" target="_blank" rel="noreferrer noopener">
            <div class="card-img-div">
                <img src="../../assets/img/youtube_logo_darkbg.jpg" alt="youtube logo">
            </div>
        </a>
        <div class="card-text">
            <h1>O nosso canal YouTube: @20Cafés por dia</h1>
            <h2>Principais criadores de conteúdo e mantenedores: </h2>
            Eduardo, Henrique <br>
            <br>
            <h2>Sobre este projeto: </h2>
            Este é o principal foco do grande projeto 20Cafés/dia. Um canal com vídeos, reviews, podcasts e notícias dos teus temas 
            favoritos, feitos por uma equipa que tenta a cada anovo vídeo se tornar o mais profissional possível. <br>
            Tecnologia, Jogos, Gameplays, Reviews, Notícias de Tech e Gaming são coisas que poderás esperar aqui. <br>
            Infelizmente falta muito conteúdo nos canais de tecnologia portugueses. Falta hardware, PCs, builds, setups, eventos com a comunidade. 
            Vamos tentar remediar isso, juntos! Subscreve já e partilha para nos ajudares a crescer! Links no final da página.
        </div>
    </div>
    <div class="card">
        <a href="https://twitch.tv/20cafespordia" target="_blank" rel="noreferrer noopener">
            <div class="card-img-div">
                <img src="../../assets/img/twitch_logo_purplebg.jpg" alt="twitch logo">
            </div>
        </a>
        <div class="card-text">
            <h1>O nosso Twitch: @20cafespordia</h1>
            <h2>Principais criadores de conteúdo e mantenedores: </h2>
            Eduardo, Henrique <br>
            <br>
            <h2>Sobre este projeto: </h2>
            Esta é a segunda rede onde transmitimos e comunicamos com a nossa comunidade, e onde colocamos conteúdo, após o YouTube. É onde 
            fazemos diretos e interagimos diretamente com a comunidade, jogamos juntos e analisamos/discutimos notícias e ideias, e onde pensamos 
            fazer streams de unboxings em direto, build de pcs em direto, entre muitas outras coisas. Se ainda não nos segues no Twitch, devias! 
            Vai já nos seguir e não percas nada! Links no final da página.
        </div>
    </div>
    <div class="card">
        <a href="https://discord.gg/Sg4Ntxa" target="_blank" rel="noreferrer noopener">
            <div class="card-img-div">
                <img src="../../assets/img/discord_logo_darkbg.jpeg" alt="discord logo">
            </div>
        </a>
        <div class="card-text">
            <h1>A comunidade Discord</h1>
            <h2>Principais mantenedores: </h2>
            Eduardo, Henrique, André <br>
            <br>
            <h2>Sobre este projeto: </h2>
            Este é o principal foco do grande projeto 20Cafés/dia. Um canal com vídeos, reviews, podcasts e notícias dos teus temas 
            favoritos, feitos por uma equipa que tenta a cada anovo vídeo se tornar o mais profissional possível. <br>
            Tecnologia, Jogos, Gameplays, Reviews, Notícias de Tech e Gaming são coisas que poderás esperar aqui. <br>
            Infelizmente falta muito conteúdo nos canais de tecnologia portugueses. Falta hardware, PCs, builds, setups, eventos com a comunidade. 
            Vamos tentar remediar isso, juntos! Subscreve já e partilha para nos ajudares a crescer! Links no final da página.
        </div>
    </div>
    <div class="card">
        <div class="card-img-div">
            <img src="../../assets/gifs/gamecafes.gif" alt="20cafes game">
        </div>
        <div class="card-text">
            <h1>Jogo Oficial 20Cafés/dia</h1>
            <h2>Principais desenvolvedores: </h2>
            Henrique, Diogo Almeida (da comunidade, obrigado!) <br>
            <br>
            <h2>Sobre este projeto: </h2>
            Estamos de volta da criação de um jogo completamente feito por nós e pela nossa comunidade! <br>
            Será dark-fantasy RPG gerado aleatóriamente muito focado em
            história e com bastantes diálogos e opções múltiplas que te irão
            desafiar e decidir a tua própria história! Junta-te ao nosso Discord
            para saberes mais, e além disso, podes de qualquer forma possível
            ajudar-nos a desenvolver ou dar ideias/sugestões!
        </div>
    </div>
    <div class="card">
        <div class="card-img-div">
            <img src="../../assets/img/20CafesCoin01.jpg" alt="20cafes 3d printed coin">
        </div>
        <div class="card-text">
            <h1>3D Modeling & Printing</h1>
            <h2>Principal Criador: </h2>
            Henrique <br>
            <br>
            <h2>Sobre este projeto: </h2>
            O Henrique com a sua impressora 3D, tem tratado de criar coisas incríveis da forma que mais lhe é possível,
            e as suas criações mais recentes são as moedas 20Cafés! <br>
            São to tamanho (e quase o mesmo peso) de fichas de póker, nesta foto ainda não estão acabadas mas estarão muito
            melhores no final, e serão pintadas e com um porta-chaves incluído. Iremos oferecer algumas e vender outras por preços
            extremamente baixos (por volta de 1-2€) por isso fica atento! <br>
            Dá-nos as tuas sugestões e ideias no nosso Discord!
        </div>
    </div>
    <div class="card">
        <div class="card-img-div">
            <img src="../../assets/img/discordprint.png" alt="20cafes discord print screen">
        </div>
        <div class="card-text">
            <h1>A enorme comunidade em si: 20Cafés/dia!</h1>
            <h2>Principais Mantenedores: </h2>
            Eduardo, Henrique, André<br>
            <br>
            <h2>Sobre o projeto: </h2> 
            Este é e sempre será sem dúvida o nosso maior projeto, e no qual mais tempo investimos. Esperamos um dia ser a 
            melhor comunidade de tecnologia e gaming portuguesa, e temos o sonho de ser grandes YouTubers e Streamers dos temas que 
            mais adoras. Tens sugestões, ideias, opiniões, críticas? É tudo bem vindo, entra no nosso Discord e explica-nos o que sentes 
            que seria uma grande ideia para o 20Cafés/dia! <br>
            Estamos sempre abertos a novos membros, e a ideias e ajudas (seja com ideias, conteúdo ou até produtos emprestados para review!) para vídeos, streams 
            e eventos com a comunidade, pois é esta que nos torna quem somos.
        </div>
    </div>
    <div class="divider"></div>
    <div class="social-logos-div">
        <a href="https://bit.ly/20cafesyoutube" matRipple target="_blank" rel="noreferrer noopener"
            ><img
                class="social-logos"
                src="../../assets/logos/youtubelogo.png"
                alt="youtube link"
        /></a>
        <a href="https://twitch.tv/20cafespordia" matRipple target="_blank" rel="noreferrer noopener"
            ><img
                class="social-logos"
                src="../../assets/logos/twitchlogo.png"
                alt="twitch link"
        /></a>
        <a href="https://discord.gg/Sg4Ntxa" matRipple target="_blank" rel="noreferrer noopener"
            ><img
                class="social-logos"
                src="../../assets/logos/discordlogo.png"
                alt="discord link"
        /></a>
        <a href="https://twitter.com/20cafes" matRipple target="_blank" rel="noreferrer noopener"
            ><img
                class="social-logos"
                src="../../assets/img/twitterlogo.png"
                alt="twitter link"
        /></a>
        <a href="https://instagram.com/20cafespordia" matRipple target="_blank" rel="noreferrer noopener"
            ><img
                class="social-logos"
                src="../../assets/logos/instagramlogo.png"
                alt="instagram link"
        /></a>
    </div>
    <div class="divider"></div>
</div>
