<div class="wholepage">
    
    <div class="content1">
        <div class="column1">
            <h1>
                Quem somos? ☕️
            </h1>
            <br>

            <img src="../../assets/img/logoonly_blue.png" alt="20 Coffees logo / Logótipo 20 Cafés">
        </div>
        <div class="column2">
            <br>
            <br>
            Primeiro, uma equipa muito dedicada e fascinada por jogos e tecnologia. <br>
            Segundo, uma comunidade acolhedora e sempre aberta a novos membros, e com um único objetivo: partilhar o nosso fascínio pelas
            tecnologias e o amor pelo gaming, discutir ideias, ajudar-nos uns aos outros, apoiar-nos nos melhores e piores momentos. <br>
            <br>
            <br>
            Segue-nos nas redes sociais, no YouTube e no Twitch para nunca perderes nada! <br>
            Entra no nosso Discord se te quiseres juntar à comunidade 20Cafés! <br>
            Todas as ligações, convites e links estão no final da página inicial!
            <br>
            <br>
            <br>
            <br>
            20Cafés/dia <br>
            Mais do que um canal, uma comunidade.
        </div>
    </div>


</div>
