<div class="wholepage">
    
    <div class="content1">
        <div class="column1">
            <div class="contentcol1">
                <img src="../../assets/img/logoonly_blue.png" alt="20 Coffees logo / Logótipo 20 Cafés">
                <h1>
                    20Cafés/dia
                </h1>
            </div>
        </div>
        <div class="column2">
            <div class="contentcol2">
                <h1 style="text-align: left;">O que é o 20Cafés/dia?</h1>
                <br>
                Primeiro, é uma equipa muito dedicada e fascinada por jogos, consolas e tecnologia (computadores, PC Builds/Setups, hardware, software, etc). <br>
                Segundo, uma comunidade acolhedora e sempre aberta a novos membros, e com um único objetivo: partilhar o nosso fascínio pelas
                tecnologias e o amor pelo gaming, discutir ideias, ajudar-nos uns aos outros, apoiar-nos nos melhores e piores momentos. <br>
                <br>
                <br>
                Segue-nos nas redes sociais, no YouTube e no Twitch para nunca perderes nada! <br>
                Entra no nosso Discord para fazeres parte da fascinante comunidade 20Cafés! <br>
                Todas as ligações, convites e links estão acessíveis na página inicial. <a href="https://20cafes.com">Clica aqui para ir já para lá!</a> <br>
                <br>
                <b style="font-weight: 700;">Contactos profissionais:</b><br>
                Email: Entra/clica - <a href="https://www.youtube.com/channel/UC3gM1MgRK_1WCSA9JzHP91A/about">AQUI</a> - procura por "Detalhes - Para inquéritos comerciais" e resolve o clica em "Ver endereço". <br>
                *Não o colocamos aqui diretamente para evitar botting ou scams. Por lá temos uma melhor camada de segurança. <br>
                <br>
                Também nos podes contactar pelo nosso Discord a qualquer momento, ou qualquer uma das nossas redes sociais.
                <br>
                <br>
                <br>
                <p>20Cafés/dia</p>
                Mais do que um canal, uma comunidade.
                <br>
                <br>
                <small>Website completely made by <a href="">Eduardo Correia - Certified Fullstack Web Developer</a></small>
            </div>
        </div>
    
    </div>

    <div class="divider"></div>
    <div class="social-logos-div">
        <a href="https://bit.ly/20cafesyoutube" matRipple target="_blank" rel="noreferrer noopener"
            ><img
                class="social-logos"
                src="../../assets/logos/youtubelogo.png"
                alt="youtube link"
        /></a>
        <a href="https://twitch.tv/20cafespordia" matRipple target="_blank" rel="noreferrer noopener"
            ><img
                class="social-logos"
                src="../../assets/logos/twitchlogo.png"
                alt="twitch link"
        /></a>
        <a href="https://discord.gg/Sg4Ntxa" matRipple target="_blank" rel="noreferrer noopener"
            ><img
                class="social-logos"
                src="../../assets/logos/discordlogo.png"
                alt="discord link"
        /></a>
        <a href="https://twitter.com/20cafes" matRipple target="_blank" rel="noreferrer noopener"
            ><img
                class="social-logos"
                src="../../assets/img/twitterlogo.png"
                alt="twitter link"
        /></a>
        <a href="https://instagram.com/20cafespordia" matRipple target="_blank" rel="noreferrer noopener"
            ><img
                class="social-logos"
                src="../../assets/logos/instagramlogo.png"
                alt="instagram link"
        /></a>
    </div>
    <div class="divider"></div>


</div>
