
<div class="wholepage">
    
    <div class="content1">
        <div class="column1">
            <div class="contentcol1">
                
                <img src="../../assets/img/logoonly_blue.png" alt="20 Coffees logo / Logótipo 20 Cafés">
                <h1 style="text-align: center;">20Cafés/dia</h1>
            </div>
        </div>
        <div class="column2">
            <div class="contentcol2">
                <h1>Wait! Esta página ainda não existe!</h1>
                <br>
                Volta cá mais tarde, ainda está em construção!
                <br>
                <br>
                <br>
                <br>
                <b style="font-weight: 700;">Contactos profissionais:</b><br>
                Email: Entra/clica - <a href="https://www.youtube.com/channel/UC3gM1MgRK_1WCSA9JzHP91A/about">AQUI</a> - procura por "Detalhes - Para inquéritos comerciais" e resolve o clica em "Ver endereço". <br>
                *Não o colocamos aqui diretamente para evitar botting ou scams. Por lá temos uma melhor camada de segurança. <br>
                <br>
                Também nos podes contactar pelo nosso Discord a qualquer momento, ou qualquer uma das nossas redes sociais.
                <br>
                <br>
                <br>
                <p>20Cafés/dia</p>
                Mais do que um canal, uma comunidade.
                <br>
                <br>
            </div>
        </div>
    </div>

</div>